<div style="background: #fff; padding: 0; font-size: 12px;">
    <div style="background: #f8f6f7; width: calc(100% - 150px); max-width: 600px; margin: 0 auto; padding: 20px 40px; color: #222;">
        <div style="background: #fff; padding: 20px 40px; border: 2px dotted #ddd; border-radius: 5px;">
            <h2>Hello! Welcome to <span style="color: #13b2c0;">{{ app_name }}</span>!</h2>
            <p>Agora que sua conta foi criada, você já pode acessar nosso painel com as credenciais abaixo.</p>
            <table style="font-size: 12px;">
                <tr>
                    <th style="text-align: left;">Email:</th>
                    <td>{{ usuario.email }}</td>
                </tr>
                <tr>
                    <th style="text-align: left;">Password:</th>
                    <td>{{ usuario.senha }}</td>
                </tr>
            </table>
			<p style="text-align: center; display: block; margin: 15px;">
				É necessario realizar a troca de senha após o primeiro acesso!
			</p>
            <a href="{{ url }}" target="_blank " style="line-height: 1.42857143; text-align: center; white-space: nowrap; cursor: pointer; border-radius: 4px; margin: 5px; background-color: #13b2c0; color: #fff; font-size: 14px; text-transform: uppercase; font-weight: 700; padding: 10px 20px; display: block; text-decoration: none;">
                Log in to your account
            </a>
            <style type="text/css">
                * {
                    font-family: Verdana, Arial, sans-serif;
                }
            </style>
        </div>
        <p style="text-align: center; margin-bottom: 0 ">
            &copy;{{ current.year }} - <b>{{ app_name }}</b> | All rights reserved.
        </p>
    </div>
</div>
